body {
    background-color: black;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

p {
    font-family: Comic;
    font-size: 20px;
    color: black;
    text-indent: 350px;
}

body {
    background-image: url("kente.png");
    background-repeat: repeat-x;
}
